/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set background color and font family */
  body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  /* Center the container vertically and horizontally */
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 25vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
  
  /* Style the heading */
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style the form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style the form inputs */
  label {
    margin-bottom: 8px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Style the paragraph with the sign up link */
  p {
    margin-top: 20px;
    text-align: center;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
option {
    margin-bottom: 10px;
}
  
#userType {
    margin-bottom: 10px;
    height: 40px;
}